<!-- templates/core/View_History.html -->
<h2>Prediction History</h2>
<ul>
    {% for entry in history %}
        <li>
            <strong>Prediction:</strong> {{ entry.predicted_class }}<br>
            <strong>Image Path:</strong> <a href="{{ entry.image_path.url }}" target="_blank">{{ entry.image_path.url }}</a><br>
            <strong>Timestamp:</strong> {{ entry.timestamp }}
        </li>
    {% empty %}
        <li>No history available.</li>
    {% endfor %}
</ul>
<a href="{% url 'index' %}">Go back to home page!</a>
